body{
  margin:0px;
}
#start_game
 {
    margin-top: 1%;
    margin-left: 20%;
    overflow: hidden;
}

#home
{
    /* background-image: url('../img/snake.png'); */
    /* background-size: auto 350px;
    background-repeat: no-repeat;
    background-color: lightblue;
    background-position: center center; */
    /* padding: 0; */
    /* margin: 03; */
    /* position:fixed; */
    /* top: 10%;
    left: 20%; */
    /* border: 1px solid #f00; */
}

/* button {
    background-color: green;
    color: white;
    border: none;
    bottom: 0;
    height: 30px;
    font-size: 12pt;
    float: left;
    width: 90px;
    margin: 10px 0 0 0;
}
button:hover {
    background-color: orange;
}

button:disabled {
    background-color: grey;
} */

p {
    font-family: Helvetica;
    font-weight: bold;
    width: 250px;

    margin: 18px 0 5px 8px;
    float: left;
}

#start_game
{
    position:fixed;
    top: 42%;
    left: 40%;
}

#score{
  font-size:20px;
  color: blanchedalmond;
  position:fixed;
  top: -1%;
  left: 46%;
}

#create_room{
    margin: 0px 10PX 0px 10PX;
}

.join_game{
    padding: 0;
    position:fixed;
    top: 40%;
    left: 35%;
}

.custom_modal{
    position:fixed;
    top: -40%;
}


/* LOADER CSS */
.loader{
    width: 150px;
    height: 150px;
    margin: 40px auto;
    transform: rotate(-45deg);
    font-size: 0;
    line-height: 0;
    animation: rotate-loader 5s infinite;
    padding: 25px;
    border: 1px solid #ffc014;
}
.loader .loader-inner{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
}
.loader .loading{
    position: absolute;
    background: #28a745;
}
.loader .one{
    width: 100%;
    bottom: 0;
    height: 0;
    animation: loading-one 1s infinite;
}
.loader .two{
    width: 0;
    height: 100%;
    left: 0;
    animation: loading-two 1s infinite;
    animation-delay: 0.25s;
}
.loader .three{
    width: 0;
    height: 100%;
    right: 0;
    animation: loading-two 1s infinite;
    animation-delay: 0.75s;
}
.loader .four{
    width: 100%;
    top: 0;
    height: 0;
    animation: loading-one 1s infinite;
    animation-delay: 0.5s;
}
@keyframes loading-one {
    0% {
        height: 0;
        opacity: 1;
    }
    12.5% {
        height: 100%;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 0;
    }
}
@keyframes loading-two {
    0% {
        width: 0;
        opacity: 1;
    }
    12.5% {
        width: 100%;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}
@keyframes rotate-loader {
    0% {
        transform: rotate(-45deg);
    }
    20% {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(-135deg);
    }
    45% {
        transform: rotate(-135deg);
    }
    50% {
        transform: rotate(-225deg);
    }
    70% {
        transform: rotate(-225deg);
    }
    75% {
        transform: rotate(-315deg);
    }
    95% {
        transform: rotate(-315deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}